{% extends 'portfolio_app/base.html' %}
{% load static %}

    <!-- Title of the page -->
    {% block title %}
        <title>{{ person_detail.title }}</title>
    {% endblock %}    

    <!-- Custom styles for this template -->
    {% block customcss %} 
        <link href="{% static '/portfolio_app/css/contact.css' %}" rel="stylesheet">        
    {% endblock %}
    
    {% block content %}  
    <div class="containers">  
      
      <form id="contact" action="{% url 'contact' %}" method="post">
      {% if message_successfull %}
          <div class="alert alert-success">
              <strong>Success!</strong> Thanks for connecting with me.
           </div>
      {% endif %}
      {% if not_message_successfull %}
          <div class="alert alert-danger">
              <strong>Sorry!</strong> Invalid value submission.
           </div>
      {% endif %}
      {% csrf_token %}
        <h3>{{ contact_page.title }}</h3>
        <h4>{{ contact_page.sub_title }}</h4>
        <fieldset>
          <input placeholder="Your name" type="text" tabindex="1" required="" name="name">
        </fieldset>
        <fieldset>
          <input placeholder="Your Email Address" type="email" tabindex="2" required="" name="email">
        </fieldset>
        <fieldset>
          <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" name="phone">
        </fieldset>
        <fieldset>
          <input placeholder="Your Web Site (optional)" type="url" tabindex="4" name="website">
        </fieldset>
        <fieldset>
          <textarea placeholder="Type your message here...." tabindex="5" required="" name="message"></textarea>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" style="background:{{ contact_page.button_color }};">{{ contact_page.button_text }}</button>
        </fieldset>
      </form>
    </div    
    {% endblock %}
    
    
    
    
    
    
    