{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">    
    <!-- Title -->
    <title>{{ person_detail.title }}</title> 
    <!-- Bootstrap core CSS -->
    <link href="{% static '/portfolio_app/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="{% static '/portfolio_app/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="{% static '/portfolio_app/css/coming-soon.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="overlay" style="background-color:{{ person_detail.overlay_and_button_color }}"></div>    
    {% if is_video %}
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/media/{{ person_detail.background_media }}" type="video/mp4">
      </video>
    {% else %}
      <img src="/media/{{ person_detail.background_media }}" class="background_img" style="top:{{ person_detail.media_position_top }};left:{{ person_detail.media_position_left }};">
    {% endif %}
    <div class="masthead">
     <div class="masthead-bg" style="background-color:{{ person_detail.background_and_icon_color }}"></div>
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-12 my-auto">
            <div class="masthead-content text-white py-5 py-md-0">
              <h2 class="name mb-3">{{ person_detail.name|title }}</h2>
              <p class="mb-6">{{ person_detail.description }}</p>
              <div class="input-group input-group-newsletter">
                <!-- <input type="email" class="form-control" placeholder="Enter email..." aria-label="Enter email..." aria-describedby="basic-addon"> -->
                 <div class="input-group-append">
                    <a href="{% url 'project_list' %}" class="btnwidth100">
                        <button class="btn btn-secondary" type="button" 
                                style="background-color:{{ person_detail.overlay_and_button_color }};border-color:{{ person_detail.overlay_and_button_color }}" 
                                onMouseOver="this.style.backgroundColor='{{ person_detail.button_hover }}'" 
                                onMouseOut="this.style.backgroundColor='{{ person_detail.overlay_and_button_color }}'">
                            {{ person_detail.button }}
                        </button>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        {% for social_link in social_links %}
            <li class="list-unstyled-item">
                <a href="{{ social_link.link }}" target="_blank"
                        style="background-color:{{ person_detail.background_and_icon_color }};"
                        onMouseOver="this.style.backgroundColor='{{ person_detail.background_and_icon_hover_color }}'" 
                        onMouseOut="this.style.backgroundColor='{{ person_detail.background_and_icon_color }}'">
                    {{ social_link.icon|safe }}
                </a>
            </li>
        {% endfor %}
      </ul>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static '/portfolio_app/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/portfolio_app/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Custom scripts for this template -->
    <script src="{% static '/portfolio_app/js/coming-soon.min.js' %}"></script>
  </body>
</html>
